# Ignore Node.js modules
node_modules


# Ignore environment variables file
.env
.env.local
.env.*.local
.env.example

# Ignore build output directory
out
dist
build

# Ignore editor and IDE-specific files and directories
.idea
.vscode
.DS_Store

# Ignore log files
*.log

# Config files
config

# Ignore compiled code files
*.o
*.dll
*.class

# Miscellaneous
*.swp
Thumbs.db
desktop.ini