.App {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 1.5rem;
    overflow: hidden;
    font-weight: 600;
    color: rgb(239, 247, 250, 0.7);
}

h2 {
    font-style: italic;
}
